.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.main__title {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  font-size: 7vmax;
  z-index: 0;
  position: relative;
  bottom: 20px;
  mix-blend-mode: soft-light;
  filter: blur(3px);
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main__info {
  background-color: white;
  border-radius: 17px;
  margin-left: 30%;
  margin-right: 30%;
  height: 10vmax;
  text-align: center;
  font-size: 1.8vmax;
  padding: 1em;
}

.main__load {
  height: 80%;
  width: 25vmax;
  background: none;
  border-radius: 15px;
  border: 0.3ch dashed #004a81;
  color: #004a81;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.main_icon {
  font-size: 4em;
  background: none;
}

.main__label {
  background: none;
  font-size: 2vmax;
}

.main__container__wallpaper {
  height: 50vmax;
  border: 1vmax solid #bccfe5;
  background-image: url(/picture/photo-2.jpg);
}

.main__container__form {
  display: grid;
  grid-template-rows: 5fr 1fr;
  align-items: center;
  justify-items: center;
  border: 1vmax solid #bccfe5;
  background-color: rgba(255, 255, 255, 0.5);
}

.main__button {
  width: max-content;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  border: none;
  color: white;
  background-color: #004a81;
  border-radius: 10px;
}
