.main__load {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  height: 250px;

  justify-items: center;
}
.main__load__container {
  height: 100%;
  width: 30%;
  border: 0.3ch;
  border-radius: 15px;
  border-color: rgb(38, 174, 96);
  border-style: dashed;
  color: rgb(38, 174, 96);
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.main_icon {
  font-size: 4em;
}

.main__input {
  margin-bottom: 3em;
}

.main__input {
  border: 0ch;
  color: white;
  font-size: medium;
  background-color: rgb(38, 174, 96);
  width: 14em;
  height: 2em;
  border-radius: 5px;
}
