.header {
  display: grid;
  grid-template-columns: 1.2fr 3.8fr 1fr;
}

.header__buttons {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header__buttons__button {
  height: max-content;
  font-size: 1.7vmax;
  border: 0;
}

.header__logo__name {
  padding-left: 0.5vmax;
  padding-top: 0.5em;
  display: inline-block;
  font-size: 3vmax;
  background: linear-gradient(to right, #00a0dd 58%, #004a81 42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__logo__info {
  padding-left: 0.5vmax;
  margin-top: -1vmax;
  font-size: 1vmax;
}

.header__line {
  position: absolute;
  width: 100%;
  top: 7vmax;
  border-bottom: 0.7px solid #004a81;
}

.header__flag {
  position: absolute;
  right: 1vmax;
  top: 1vmax;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.header__flag_white {
  margin-top: 5px;
  width: 3vmax;
  height: 1vmax;
  transform: rotate(-30deg);
  background-color: white;
}

.header__flag_blue {
  width: 3vmax;
  height: 1vmax;
  transform: rotate(-30deg);
  background-color: blue;
}

.header__flag_red {
  width: 3vmax;
  height: 1vmax;
  margin-top: -5px;
  transform: rotate(-30deg);
  background-color: red;
}
