<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>DentGen</title>
  </head>
  <body>
    <header class="header_about">
      <div class="header__logo">
        <div class="header__logo__name">DentGen</div>
        <div class="header__logo__info">Разработано для зубных техников</div>
      </div>
      <div class="header__flag">
        <div class="header__flag_white"></div>
        <div class="header__flag_blue"></div>
        <div class="header__flag_red"></div>
      </div>
      <!-- <div class="header__line"></div> -->
    </header>
    <main class="main">
      <div class="main__title">DentGen</div>
      <div class="main__info">
        <div class="main__info__description">
          DentGen - платформа 3д моделирования моделей зубов с использованием
          искусственного интеллекта для обработки и генерации челюстей на уровне
          нейронных сетей.
        </div>
        <div class="main__info__examples">
          <img src="/picture/example_1.png" alt="" class="example_1" />
          <img src="/picture/example_1.png" alt="" class="example_2" />
          <img src="/picture/example_1.png" alt="" class="example_3" />
          <img src="/picture/example_1.png" alt="" class="example_4" />
        </div>
      </div>
      <div class="overflow">
        <div class="main__triangle-1"></div>
      </div>
      <div class="main__operations">
        <div class="main__operations__text">Работа с облаками точек</div>
        <div class="main__operations__text">Подгонка размера</div>
        <div class="main__operations__line"></div>
        <div class="main__operations__line"></div>
        <div class="main__operations__text">Формирование фиссуры</div>
        <div class="main__operations__text">Обработка информации о челюсти</div>
        <div class="main__operations__line"></div>
        <div class="main__operations__line"></div>
        <div class="main__operations__text">Сглаживание граней</div>
        <div class="main__operations__text">Подгонка высоты</div>
      </div>
      <div class="overflow">
        <div class="main__triangle-2"></div>
      </div>
      <div class="main__register">
        <form
          class="main__register__form"
          th:action="@{/about}"
          th:object="${user}"
          method="post"
        >
          <label class="register__label">Логин</label>
          <input
            class="register__input"
            type="text"
            maxlength="15"
            th:field="*{username}"
          />
          <label class="register__label">Пароль</label>
          <input
            class="register__input"
            type="text"
            maxlength="15"
            th:field="*{password}"
          />
          <label class="register__label">Повторите пароль</label>
          <input
            class="register__input"
            type="text"
            maxlength="15"
          />
          <button class="register__button" type="submit">
            Зарегистрироваться
          </button>
        </form>
        <div class="main__register__info">
          Зарегистрируйтесь и приступите к генерации
        </div>
        <button
          class="register__link"
          type="submit"
          th:onclick="|window.location.href='/logout'|"
        >
          У меня есть аккаунт
        </button>
      </div>
      <div class="main__rectangle"></div>
    </main>
  </body>
</html>
