<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/styles/all.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <img src="../static/picture/logo.png" class="header__logo" />
      <div class="header__novigation">
        <button class="header__novigation-button">About</button>
        <button
          class="header__novigation-button header__novigation-button_active"
        >
          Platform
        </button>
        <button class="header__novigation-button">For developer <i class="bi bi-shield-lock lo"></i></button>
      </div>
      <button class="header__authorization">
        <i class="bi bi-person-circle"></i> Log in
      </button>
    </header>
    <main class="main">
      <div class="main__info">
      <h1 class="main__info__title">
        3Д моделирование зуба
      </h1>
      <label class="main__info__text">
        Получение 3Д модели зуба в несколько кликов. Приступите к генерации прямо сейчас.
      </label></div>
      <img src="../static/picture/model.png" class="main__picture">
      <div class="main__info">
        <h1 class="main__info__title">
          Для генерации требуется три проекции необходимых зубов
        </h1>
        <label class="main__info__text">
          Первая проекция - место отсутсвия зуба и его соседи с внешней стороны
          Вторая проекция - зуб антагонист с внешней стороны
          Третья проекция - фиссура зуба антагониста. С помощью этих проекций наша нейронная сеть сгенерирует 3D модель недостающего зуба. Приступите к генерации после загрузки изображений
        </label>
      </div>
      <div class="main__load">
        <div class="main__load__container" onclick="$('#input_neighbors').click()"> <i class="bi bi-file-earmark-arrow-up main_icon"></i>
          <label id="label_neighbors">Соседи</label></div>
        <div class="main__load__container" onclick="$('#input_antagonist').click()"> <i class="bi bi-file-earmark-arrow-up main_icon"></i>
        <label id="label_antagonist">Антагонист</label></div>
        <div class="main__load__container" onclick="$('#input_fissure').click()"> <i class="bi bi-file-earmark-arrow-up main_icon"></i>
        <label id="label_fissure">Фиссура антагониста</label></div>
      </div>
      <div class="main__buttons">
        <button class="main__input"> Приступить к генерации</button>
        <!-- <button class="main__cancel"> Прервать генерацию</button> -->
      </div>
      <input type="file" id="input_neighbors" style="display:none">
      <input type="file" id="input_antagonist" style="display:none">
      <input type="file" id="input_fissure" style="display:none">
    </main>
  </body>
  <script>
    $("#input_neighbors").change(function() {
    filename = this.files[0].name;
    $("#label_neighbors").text(filename);
  });
  $("#input_antagonist").change(function() {
    filename = this.files[0].name;
    $("#label_antagonist").text(filename);
  });
  $("#input_fissure").change(function() {
    filename = this.files[0].name;
    $("#label_fissure").text(filename);

  });
  </script>
</html>
